rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /payOrders/{d}          { allow read, write: if request.auth != null; }
    match /activityLog/{d}        { allow read, write: if request.auth != null; }
    match /notes/{d}              { allow read, write: if request.auth != null; }
    match /todos/{d}              { allow read, write: if request.auth != null; }
    match /tenders/{d}            { allow read, write: if request.auth != null; }
    match /expenses/{d}           { allow read, write: if request.auth != null; }
    match /contacts/{d}           { allow read, write: if request.auth != null; }
    match /checklistTemplates/{d} { allow read, write: if request.auth != null; }
    match /tenderFees/{d}         { allow read, write: if request.auth != null; }
    match /{document=**}          { allow read, write: if false; }
  }
}
